@model ITIL.Services.Contract.CreatePersonDto
@{
    var errorMessage = TempData["ErrorMessage"];
}
@if (!string.IsNullOrEmpty(errorMessage?.ToString()))
{
    <div class="alert alert-danger">@errorMessage</div>
}
<form asp-action="CreatePerson" method="post">
    <div class="col-6">
        <label asp-for="FirstName">نام :</label>
        <input asp-for="@Model.FirstName">
        <label asp-for="LastName">نام خانوادگی :</label>
        <input asp-for="@Model.LastName">
        <label asp-for="NationalCode">کد ملی:</label>
        <input type="text" maxlength="10" asp-for="@Model.NationalCode">
    </div>
    <button type="submit">اضافه کردن </button>
</form>
