@model ITIL.Services.Contract.CreateCityDto
@{
    var errorMessage = TempData["ErrorMessage"];
}
@if (!string.IsNullOrEmpty(errorMessage?.ToString()))
{
    <div class="alert alert-danger">@errorMessage</div>
}
<form asp-action="CreateCity" method="post">
    <div>
        <label>نام شهر:</label>
        <input asp-for="@Model.Title">
        <span asp-validation-for="Title"></span>
    </div>
    <button type="submit">اضافه کردن شهر</button>
</form>
