@model ITIL.Services.Contract.CityDto
<div class="edit">
    <div class="edit-title">
        <h1>ویرایش</h1>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="edit-inputs">

            <input type="text" name="Title" id="Title" value="@Model.Title">
            <button asp-action="UpdateCity">ویرایش</button>
        </div>
    }
</div>