@model ITIL.Services.Contract.UpdateCityDto

<div class="edit">
    <div class="edit-title">
        <h1>ویرایش</h1>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="edit-inputs">

            <input type="text" name="Title" id="Title" value="@Model.Title">               
            <button asp-action="UpdateCity">ویرایش</button>
             <span asp-validation-for="Title"></span>
        </div>
    }
</div>